*,
*::before,
*::after {
  box-sizing: border-box; // More-intuitive box-sizing model.
}

input,
button,
textarea,
select {
  font: inherit; // No built-in form typography styles
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $h-fonts; // Special font for titles
}

h1 {
  text-align: center; // Center h1
  line-height: inherit; // Inherit accessible line-height (higher)
}

footer {
  font-size: 0.8em; // Smaller fonts for footers
}

a,
a:active {
  color: $lnk; // Link color
  text-decoration: underline; // Make links distinguishable
}

a:hover {
  text-decoration: none; // Show that this is clickable
}
