#root,
#__next {
  isolation: isolate; // Root stacking context
}

html {
  font-size: 120%; // Larger font
  scroll-behavior: smooth; // Scrolling animation
}

body {
  background-color: $bg; // Background color
  color: $txt; // Text color
  font-family: $txt-fonts;
  overflow-wrap: break-word; // Avoid text overflows
  line-height: calc(1em + .5rem); // Accessible line-height (less as font increases)
  -webkit-font-smoothing: antialiased; // Improved text rendering
}

main {
  max-width: $line-len;
  margin: 0 auto;
}
