@use "sass:math";

// Sizes
$line-len: 60ch; // Maximum text line length

// Fonts
$txt-fonts: "Libre Baskerville", "Merriweather", sans-serif; // Body text fonts
$h-fonts: "Nacelle", "Inter", "Fira Sans", "FiraGO", sans-serif; // Headings fonts

// Global colors
$hgl: #def; // Highlighted elements (like buttons)
$lnk: #207bd2; // Links

// Light colors
$bg: #e2e4e8; // Light background
$txt: #2d2c2b; // Dark text (on light background)

@import "generic"; // generic definitions, arbitrary number of elements
@import "specific"; // specific definitions, one or a few precise elements

// Dark colors (OLED black)
$bg-dark: #000; // Black background
$txt-dark: #bdbcbb; // Light text (on dark background)
@media screen and (prefers-color-scheme: dark) {
  @import "dark";
}

// Printable document, PDF
@media print {
  @import "print";
}

// Touch screen
// @media (pointer: coarse),
// (pointer: none) {
//   @import "touch";
// }

// Small screen
// @media screen and (max-width: 3 * $line-len) {
//   @import "small-width";
// }

// Remove scroll animation to prevent motion sickness
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
