<ul>
    <li>© {{ config.extra.creation_year }}-{{ now() |date(format="%Y") }} {{ config.extra.author }}</li>
    <li>{{ i18n.last_updated | capitalize }} {{ now() |date(format="%d/%m/%Y") }}</li>
    <li>
        {{ i18n.generated | capitalize }} <a href="https://www.getzola.org">Zola</a>,
        {{ i18n.using }} <a href="https://gitlab.com/gfauredev/website-theme">{{ i18n.website_base }}</a>
    </li>
</ul>
