{# Metadata #}
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="og:title" content="{{ title }}">
<meta property="og:site_name" content="{{ config.title }}">
<meta name="description" content="{{ description }}">
<meta name="og:description" content="{{ description }}" />
<meta name="author" content="{{ config.extra.author }}">
<meta property="og:type" content="website">
{# Style #}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
{# Translations #}
{% block translation %}
    {% if section.translations %}
        {#{% if section.translations | length > 1 %}#}
        {% for translation in section.translations %}
            <link rel="alternate"
                  hreflang="{{ translation.lang }}"
                  href="{{ translation.permalink }}">
        {% endfor %}
    {% endif %}
{% endblock translation %}
{# 32×32 icon #}
<link rel="icon" href="/favicon.ico" sizes="any">
{#<link rel="icon" href="/icon.svg" type="image/svg+xml">#}
{# 180×180 icon #}
{#<link rel="apple-touch-icon" href="/icon.png">#}
{% block links %}
    {# MaterialDesign #}
    {#
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    #}
{% endblock links %}
{% block scripts %}
    {# FontAwesome JS #}
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
            integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
{% endblock scripts %}
{% block extra_meta %}
    {#<meta name="google-site-verification"
            content="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx">#}
{% endblock extra_meta %}
