{% if section.pages %}
    <section>
        {#<h2>{{ i18n.pages | capitalize }}</h2>#}
        <ol class="pages">
            {% for page in section.pages %}
                <li>
                    <a aria-label="Link to {{ page.title }}"
                       href="{{ page.permalink | safe }}#continue-reading">
                        <article>
                            {% if page.summary %}
                                {{ page.summary | safe }}
                            {% else %}
                                <h2>{{ page.title }}</h2>
                                {% if page.description %}<p>{{ page.description }}</p>{% endif %}
                            {% endif %}
                            <strong>{{ i18n.continue_reading | capitalize }}</strong>
                        </article>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </section>
{% endif %}
