{% if section.subsections %}
    <section>
        <h2>{{ i18n.subsections | capitalize }}</h2>
        <ol class="subsections">
            {% for subsection in section.subsections %}
                {% set subsection = get_section(path=subsection) %}
                <li>
                    <a aria-label="{{ i18n.link_to | capitalize }} {{ subsection.title }}"
                       href="{{ subsection.permalink | safe }}#continue-reading">
                        {% if subsection.extra.icon %}<i class="{{ subsection.extra.icon }}"></i>{% endif %}
                        {{ subsection.title }}
                        {% if subsection.pages %}<i>({{ subsection.pages | length }})</i>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </section>
{% endif %}
