{% if toc | length > 1 or toc[0].children %}
    <section>
        <h2>{{ i18n.toc | title }}</h2>
        <ol id="toc">
            {% for h1 in toc %}
                <li>
                    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                    {% if h1.children %}
                        <ol>
                            {% for h2 in h1.children %}
                                <li>
                                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                    {% if h2.children %}
                                        <ol>
                                            {% for h3 in h2.children %}
                                                <li>
                                                    <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </section>
{% endif %}
