<div class="video{% if class %} {{ class }}{% endif %}">
    <iframe title="YouTube video"
            src="https://www.youtube-nocookie.com/embed/{{ id }}{% if playlist %}?list={{ playlist }}{% endif %}{% if autoplay %}?autoplay=1{% endif %}">
    </iframe>
</div>
