{% extends "base.html" %}
{% block config %}
    {% set lang = config.default_language %}
    {% set title = config.title ~ " - Error 404" %}
    {% set description = title %}
{% endblock config %}
{# No header for error 404, only returns to home #}
{% block header %}
{% endblock header %}
{% block main %}
    {# TODO translate this #}
    <h1>Error 404</h1>
    {% set index = get_section(path="_index.md", metadata_only=true) %}
    <p>It seems that you followed a faulty hyperlink.</p>
    <a href="{{ index.permalink | safe }}">
        clic here to return to home
        {%- if index.extra.icon %}<i class="{{ index.extra.icon }}"></i>{% endif %}
    .
</a>
{% endblock main %}
