{% if lang == config.default_language %}
    {% set index = get_section(path="_index.md", metadata_only=true) %}
{% else %}
    {% set index = get_section(path="_index."~lang~".md", metadata_only=true) %}
{% endif %}
{% block config %}
{% endblock config %}
{% set i18n = load_data(path="i18n/"~lang~".toml", required=false) %}
{% if not i18n %}
    {% set i18n = load_data(path="themes/website-theme/i18n/"~lang~".toml") %}
{% endif %}
{% if not description %}
    {% set description = config.description %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>{% include "partials/meta.html" %}</head>
    <body>
        <header>
            {% block header %}
                {% include "partials/header.html" %}
            {% endblock header %}
        </header>
        {# Return to top anchor #}
        <div id="top"></div>
        <main>
            {% block main %}
            {% endblock main %}
        </main>
        <a aria-label="{{ i18n.link_to | capitalize }} {{ i18n.return_top }}"
           class="return-top"
           href="#top">
            {% if config.extra.icons.return_top %}<i class="{{ config.extra.icons.return_top }}"></i>{% endif %}
        </a>
        <footer>
            {% include "partials/footer.html" %}
        </footer>
    </body>
</html>
