{% extends "base.html" %}
{% block config %}
    {% set lang = page.lang %}
    {% set permalink = page.permalink %}
    {% if page.translations %}
        {% set translations = page.translations %}
    {% endif %}
    {% set title = page.title %}
    {% set description = page.description %}
    {% set toc = page.toc %}
    {% set ancestors = page.ancestors %}
{% endblock config %}
{% block main %}
    {% include "partials/info.html" %}
    {#<h1>{{ page.title }}</h1>#}
    {% if page.toc %}
        {% include "partials/toc.html" %}
    {% endif %}
    {% if page.content %}
        <section>
            {{ page.content | safe }}
        </section>
    {% endif %}
    {% include "partials/related.html" %}
{% endblock main %}
