{% extends "base.html" %}
{% block config %}
    {% set permalink = current_url %}
    {% set title = term.name %}
    {% set description = taxonomy.name ~ " : " ~ term.name %}
{% endblock config %}
{% block main %}
    <h1>
        {% set slug = taxonomy.name | slugify %}
        {% if config.extra.taxonomies_icons[slug] %}<i class="{{ config.extra.taxonomies_icons[slug] }}"></i>{% endif %}
        {{ taxonomy.name | capitalize }} : {{ term.name }}
    </h1>
    <ul class="terms">
        {% for page in term.pages %}
            <li>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock main %}
