{% extends "base.html" %}
{% block config %}
    {% set permalink = current_url %}
    {% set title = taxonomy.name %}
    {% set description = config.title ~ " : " ~ taxonomy.name %}
{% endblock config %}
{% block main %}
    <h1>
        {% set slug = title | slugify %}
        {% if config.extra.taxonomies_icons[slug] %}<i class="{{ config.extra.taxonomies_icons[slug] }}"></i>{% endif %}
        {{ taxonomy.name | capitalize }}
    </h1>
    <ul class="terms">
        {% for term in terms %}
            <li>
                <a href="{{ term.permalink | safe }}">{{ term.name }} ({{ term.pages | length }})</a>
            </li>
        {% endfor %}
    </ul>
{% endblock main %}
